/******************************************************
    ARCHIVE SERVICES
 ******************************************************/

.services-archive {
    --space-top: 8rem;

    #top-archive {
        padding-top: var(--space-top);
        scroll-margin-top: var(--header-scrolled-height);
    }

    .col-side {
        padding-top: var(--space-top);
    }

    .taxonomy-list {
        padding-bottom: 2rem;

        .title {
            margin-bottom: 2rem;

            button {
                all: unset;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
                width: 100%;
                padding: 1rem 1.5rem;
                font-size: 2rem;
                color: $white;
                background: $primary;

                &::after {
                    content: '-';
                }

                &.collapsed::after {
                    content: '+';
                }
            }
        }

        .list {
            margin-bottom: 0;
            padding-bottom: 1rem;

            li {
                margin-bottom: 2rem;
            }
        }

        // Custom checkbox
        label {
            position: relative;
            text-transform: none;
            cursor: pointer;
            font-weight: $font-bold;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: -1;

                & + span {
                    position: relative;
                    padding-left: 3rem;
                    display: block;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0.4rem;
                        left: 0;
                        width: 1.6rem;
                        height: 1.6rem;
                        border: 1px solid currentColor;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0.8rem;
                        left: 0.4rem;
                        width: 0.8rem;
                        height: 0.8rem;
                        background: $primary;
                        opacity: 0;
                        transition: opacity 0.2s;
                    }
                }

                &:checked + span::after {
                    opacity: 1;
                }

                &:focus + span::before {
                    outline: 2px dotted currentColor;
                    outline-offset: 3px;
                }
            }

            a {
                color: inherit;
            }
        }
    }

    .clear-filters {
        all: unset;
        font-size: 1.4rem;
        font-weight: $font-bold;
        text-decoration: underline;
        cursor: pointer;

        &.hidden {
            display: none;
        }
    }

    .loader {
        position: absolute;
        z-index: -1;
        inset: 1rem;
        top: var(--space-top);
        display: grid;
        place-items: center;
        background: rgba($primary, 0.5);
        opacity: 0;
        transition: opacity 0.3s;

        &::before {
            content: '';
            display: block;
            width: 8rem;
            height: 8rem;
            border: 3px solid transparent;
            border-top-color: $primary;
            border-bottom-color: $primary;
            border-radius: 50%;
            animation: rotation 0.8s ease infinite;
        }

        &.active {
            z-index: 2;
            opacity: 1;
        }
    }

    .services-pagination {
        padding: 6rem 0 8rem;

        .cta {
            gap: 1rem;
        }

        .prev,
        .next {
            &.hidden {
                display: none;
            }
        }

        .prev {
            &::before {
                transform: rotate(180deg);
            }
        }

        .next {
            flex-direction: row-reverse;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box-services {
    display: block;
    position: relative;
    color: $white;
    overflow: hidden;

    // overlay
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background: linear-gradient(to top, $primary, transparent);
    }

    .image {
        width: 100%;
        transition: scale 0.3s;
    }

    .title {
        position: absolute;
        z-index: 2;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        font-size: 2rem;
        font-weight: $font-bold;
    }

    // hover
    &:hover,
    &:focus-visible {
        color: $white;

        .image {
            scale: 1.2;
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (min-width: 768px) {
    .services-archive {
        .taxonomy-list {
            .title {
                button {
                    &::after {
                        display: none;
                    }
                }
            }

            .collapse {
                display: block;
            }
        }
    }
}

@media (max-width: 767px) {
    .services-archive {
        --space-top: 5rem;

        .col-side {
            position: relative;
            z-index: 1;
        }

        #top-archive {
            padding-top: calc(var(--space-top) - 2rem);
        }

        .taxonomy-list {
            padding-bottom: 1rem;

            &:last-child {
                padding-bottom: 0;
            }

            .title {
                button {
                    font-size: 1.6rem;
                }
            }

            .list {
                li {
                    margin-bottom: 1rem;
                }
            }
        }

        .services-list {
            --bs-gutter-y: 1.5rem;
        }
    }
}
