/******************************************************
    INTERNAL PAGES and 404
 ******************************************************/

.block-internal-page {
    padding-top: 8rem;
    padding-bottom: 8rem;

    h1 {
        margin-bottom: 3rem;
    }

    @include general-typography;
}

.page404 {
    padding: 15rem 0 10rem;

    .titolo_pb {
        margin-bottom: 3rem;
    }

    .wp-element-button {
        margin-top: 3rem;
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-internal-page {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .page404 {
        padding: 7rem 0;
    }
}
