/******************************************************
    News Pages
 ******************************************************/

// Archive
.news-archive {
    padding-bottom: 8rem;

    #top-archive {
        padding-top: 8rem;
        scroll-margin-top: var(--header-scrolled-height);
    }

    .categories-list {
        gap: 1rem 3rem;
        margin-bottom: 4rem;

        a {
            color: inherit;

            &:hover,
            &:focus-visible {
                color: $primary;
            }

            &.active {
                font-weight: $font-bold;
                color: inherit;
            }
        }
    }
}

// Boxes news for archive pages and block news section
.boxes-news {
    .box {
        display: grid;
        grid-template-rows: 1fr auto;
        height: 100%;
        padding: 3rem;
        color: inherit;
        background: $white;
        box-shadow: 0 0 1.5rem rgba($black, 0.1);

        &.in-archive {
            grid-template-rows: auto 1fr auto;
        }

        .wrap-image {
            margin-bottom: 3rem;

            img {
                width: 100%;
            }
        }

        .category {
            display: inline-block;
            min-width: 16.6rem;
            margin-bottom: 3rem;
            padding: 1rem;
            text-align: center;
            font-size: 1.4rem;
            color: $white;
            background: $primary;
            border-radius: 0.4rem;
        }

        .title {
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }

        .date {
            margin-bottom: 3rem;
            font-size: 1.4rem;
            color: $primary;
        }

        .button {
            margin-top: 1.5rem;
        }
    }
}

// Single
.single-news-content {
    padding-top: 8rem;
    overflow: hidden; // gsap animation

    .wp-block-post-date {
        margin-bottom: 3rem;
        color: $primary;
        font-size: 1.6rem;
    }

    .titolo_pb {
        padding-bottom: 1rem;
    }

    p + .titolo_pb {
        padding-top: 2rem;
    }

    .cta {
        margin-top: 3rem;
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .boxes-news {
        .box {
            padding: 2rem;

            .category {
                display: inline-block;
                min-width: 13rem;
                margin-bottom: 3rem;
                padding: 0.5rem 1rem;
                text-align: center;
                font-size: 1.4rem;
                color: $white;
                background: $primary;
                border-radius: 0.4rem;
            }

            .title {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .date {
                margin-bottom: 2rem;
            }
        }
    }

    .news-archive {
        padding-bottom: 5rem;

        #top-archive {
            padding-top: 5rem;
        }
    }

    .single-news-content {
        padding-top: 5rem;

        .wp-block-image {
            margin-top: 2rem;
        }
    }

    .single.single-post .block-news-section {
        .titolo_pb {
            font-size: 3rem;
            text-align: center;
        }
    }
}
