/******************************************************
    BLOCK BOXES CAT SERVICES
 ******************************************************/

.block-boxes-services-related {
    .boxes-cat-servives {
        padding: 7rem 0 5rem;
    }

    .wrap-boxes {
        padding-top: 4rem;

        // boxes styles in pages/archive-services.scss
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-boxes-services-related {
        .section-subtitle {
            font-size: 3rem;
        }
        .cta {
            margin-top: 3rem;
        }
    }
}
