/******************************************************
    BLOCK BANNER TESTO
 ******************************************************/

.block-banner-testo {
    padding: 7rem 0;

    .titolo_pb {
        margin-bottom: 4rem;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-banner-testo {
        padding: 5rem 0;

        .titolo_pb {
            margin-bottom: 2rem;
        }
    }
}
