/******************************************************
    BLock Text Side Image
 ******************************************************/

.block-text-side-image {
    display: flex;
    align-items: center;
    min-height: 62rem;

    & > .container {
        position: static;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .wp-block-evidenzio-column {
        &:first-child {
            & > * {
                max-width: 59rem;
            }
        }
    }

    .titolo_pb {
        margin-bottom: 3rem;
        &:nth-child(1) {
        }
    }

    .wp-block-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;

        img {
            @include image-fit();
        }
    }

    .wp-element-button {
        margin-top: 3rem;
    }
}
