/******************************************************
    BLOCK WORK APPLICATION
 ******************************************************/

.block-work-application {
    padding: 7rem 0;

    & > div {
        z-index: initial;
    }

    .work-with-us-forms-section {
        scroll-margin-top: var(--header-scrolled-height);
    }

    .titolo_pb {
        &.h1 {
            margin-bottom: 3rem;
        }

        &.h2 {
            margin-bottom: 2rem;
        }
    }

    .show-forms-btn {
        margin-top: 4rem;

        &:not(.collapsed) {
            display: none;
        }
    }

    // Form styles in components/_form.scss

    .application-form-section {
        padding-top: 8rem;

        & > .section-subtitle {
            padding-bottom: 6rem;
            color: $primary;
        }

        .no-cv-section {
            padding-top: 6rem;
            padding-bottom: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .forms-container {
        &.hidden {
            display: none;
        }
    }

    .application-modal {
        --bs-modal-width: 1400px;
        --bs-modal-padding: 3rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3rem;
            margin-bottom: 4rem;

            .close {
                all: unset;
                cursor: pointer;
                transition: rotate 0.3s;

                &:hover,
                &focus-visible {
                    rotate: 90deg;
                }
            }

            .icon {
                width: 2.6rem;
                height: 2.6rem;
            }
        }
    }

    .success-section {
        padding: 8rem 0 4rem;

        &.hidden {
            display: none;
        }

        h1,
        h2 {
            @include section-title();
            margin-top: 2rem;
        }

        h3,
        h4,
        h5 {
            @include section-title('small');
            text-transform: uppercase;
            color: $primary;
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-work-application {
        padding: 5rem 0;

        .show-forms-btn {
            margin-top: 1rem;
        }

        .application-form-section {
            padding-top: 2rem;

            & > .section-subtitle {
                padding-bottom: 2rem;
            }

            .no-cv-section {
                padding-top: 2rem;
                padding-bottom: 3rem;
            }
        }
    }
}

@media (max-width: 575px) {
    .block-work-application {
        .application-form-section {
            .no-cv-section {
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }
        }

        .application-modal {
            .top {
                margin-bottom: 2rem;
            }
        }
    }
}
