/******************************************************
    BLOCK HERO
 ******************************************************/

.block-hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 35rem;

    // overlay
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background: rgba($black, 0.3);
    }

    .titolo_pb {
        margin-top: 3rem;
        @include section-title('large');

        &.h2 {
            @include section-title('medium');
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 991px) {
    .block-hero {
        min-height: 25rem;
        padding: 5rem 0;

        .titolo_pb {
            margin-top: 0;
        }
    }
}

@media (max-width: 767px) {
    .block-hero {
        min-height: 20rem;
    }
}

@media (max-width: 350px) {
    .block-hero {
        .titolo_pb {
            font-size: 3.5rem;
        }
    }
}
