/******************************************************
    BLOCK BREADCRUMBS
 ******************************************************/

.block-breadcrumbs {
    padding: 2rem 0;
    font-size: 1.4rem;
    color: $dark-gray;
    border-bottom: 1px solid rgba($black, 0.1);

    a {
        color: inherit;

        &:hover,
        &:focus-visible {
            color: $font-col;
        }
    }

    .breadcrumb_last {
        color: $font-col;
    }
}

// Disable unused parent pages links
.parent-pageid-249,
.parent-pageid-254 {
    .block-breadcrumbs {
        span:nth-child(2) {
            a {
                pointer-events: none;
            }
        }
    }
}
