/******************************************************
    BLOCK TWO COLUMNS
 ******************************************************/

.block-two-columns {
    padding: 6rem 0;
    overflow: hidden; // gsap animations

    .titolo_pb {
        margin-bottom: 4rem;
    }

    ul {
        @include list-custom;

        strong:first-child {
            display: block;
            margin-bottom: 1rem;
        }

        br {
            display: none;
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-two-columns {
        padding: 5rem 0 4rem;

        .row {
            --bs-gutter-y: 4rem;
        }

        .titolo_pb {
            margin-bottom: 3rem;
        }
    }
}
