/******************************************************
    BLOCK NEWS SECTION
 ******************************************************/

.block-news-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: #fff; /* TODO: change with particles */

    .titolo_pb {
        margin-bottom: 5rem;
    }

    .news-section {
        .cta {
            margin-top: 5rem;
        }
    }

    // boxes styles in pages/news.scss
}
