/******************************************************
    BLOCK TEXT SECTION
 ******************************************************/

.block-text-section {
    padding: 7rem 0 3rem;

    .titolo_pb {
        &.h1 {
            margin-bottom: 4.5rem;
        }

        &.h2 {
            margin-bottom: 2.5rem;
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-text-section {
        padding: 5rem 0 3rem;

        .titolo_pb {
            &.h1 {
                margin-bottom: 3rem;
            }

            &.h2 {
                margin-bottom: 2rem;
            }
        }
    }
}
