/******************************************
    SITE SLIDERS
 ******************************************/

// Class for the block in admin
.block-slider-video {
    background: $light-gray;

    .iconaAudio {
        display: none;
    }

    .site-slider-video {
        height: 65rem;

        .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            padding: 4rem 0;

            // overlay
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba($black, 0.1);
            }

            .container {
                position: relative;
            }

            .image {
                width: 100%;
            }

            .section-title {
                margin-bottom: 5rem;
            }

            .button {
                min-width: 31rem;
            }
        }

        // Pagination
        .swiper-pagination-bullets {
            bottom: 5rem;

            .swiper-pagination-bullet {
                width: 1.6rem;
                height: 1.6rem;
                margin: 0 0.5rem;
                background: transparent;
                border: 1px solid $white;
                opacity: 1;
                outline: none;
            }

            .swiper-pagination-bullet-active {
                background: $white;
            }
        }
    }
}
