/******************************************************
    BLock Text Side Image
 ******************************************************/

.block-text-side-image {
    display: flex;
    align-items: center;
    min-height: 62rem;
    overflow: hidden; // gsap animations

    & > .container {
        position: static;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .wp-block-evidenzio-column {
        &:first-child {
            & > * {
                max-width: 59rem;
            }
        }
    }

    .titolo_pb {
        margin-bottom: 3rem;
    }

    ul {
        @include list-custom('black');
    }

    .wp-block-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;

        img {
            @include image-fit();
        }
    }

    .wp-element-button {
        margin-top: 3rem;
    }

    // Text large version
    &.text-large {
        .wp-block-evidenzio-column {
            &:first-child {
                & > * {
                    max-width: 100%;
                }
            }
        }
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 1199px) {
    .block-text-side-image {
        .wp-block-image {
            width: 45%;
        }
    }
}

@media (max-width: 768px) {
    .block-text-side-image {
        & > .container {
            padding-top: 4rem;
            padding-bottom: 5rem;
        }

        .titolo_pb {
            margin-bottom: 2rem;
        }

        .wp-element-button {
            margin-top: 1rem;
        }

        .wp-block-image {
            position: static;
            width: 100%;
            height: auto;
            margin-top: 5rem;
        }
    }
}
