/******************************************************
    BLOCK TEXT WITH BOXES
 ******************************************************/

.block-text-with-boxes {
    padding: 7rem 0 5rem;

    .titolo_pb {
        margin-bottom: 6rem;
    }

    .box {
        height: 100%;
        padding: 2rem;

        .titolo_pb {
            margin-bottom: 3rem;
        }
    }

    .bottom-col {
        margin-top: 3rem;
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .block-text-with-boxes {
        padding: 5rem 0 3rem;

        .titolo_pb {
            margin-bottom: 0;
        }

        .row {
            --bs-gutter-y: 3rem;
        }

        .box {
            padding: 1rem;
            .titolo_pb {
                margin-bottom: 1.5rem;
            }
        }
    }
}
