{% extends "layout/base.twig" %}

{% block titolo %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}

<section id="news_home" class="py-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h1>{{title}}</h1>
        {% if content %}<div class="content">{{content}}</div>{% endif %}
      </div>
    </div>
    <div class="row justify-content-center flex-column-reverse flex-lg-row">
      <div class="col-lg-9">
        <div class="row">
          {% for post in posts %}
            {% include ['partial/tease-'~post.post_type~'.twig', 'partial/tease.twig'] with {col: 4} %}
          {% endfor %}                
        </div>
        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}      
      </div>

      
      <div class="col-lg-3 sidebar mb-3">
        <div>{{sidebar}}</div>
      </div>


    </div>
  </div>
</section>
{% endblock %}
