/******************************************************
    Site Animations
 ******************************************************/

// Site Scroll Animations
// Avoid horizontal scrollbars and prepare for GSAP.to() animations
.animation-container {
    overflow: hidden;

    [data-animation='fade-in'] {
        opacity: 0;
        transform: scale(0.1);
    }
    [data-animation='fade-left'] {
        opacity: 0;
        transform: translateX(100px);
    }
    [data-animation='fade-right'] {
        opacity: 0;
        transform: translateX(-100px);
    }
    [data-animation='fade-up'] {
        opacity: 0;
        transform: translatey(100px);
    }
}
