/***************************************************
    GLOBAL TYPOGRAPHY
    (Available even a mixin to centralize typography
    rules, not globally but only when needed, in
    global/mixins.scss)
 ***************************************************/

p {
    margin-bottom: 2rem;
    line-height: 1.7;

    a {
        text-decoration: underline;
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $black;
    }
}

// Titles
h1,
h2,
h3,
h4 {
    font-weight: $font-bold;
    font-size: inherit;
}

.section-title {
    @include section-title();
}

.section-subtitle {
    @include section-title('small');
}

.titolo_pb {
    &.h1 {
        @include section-title();
    }

    &.h2 {
        @include section-title('small');
    }
}
