<div class="block-box-contatti">
    <div class="title">{{ fields.titolo_block_box_contacts }}</div>
    <div class="text">{{ fields.testo_block_box_contacts }}</div>
    <div class="d-flex gap-3 align-items-center">
        <div class="icon flex-shrink-0">
            <img src="{{ fields.icona_block_box_contacts.url | resize(50) }}" />
        </div>
        <div class="info">
            {{ fields.contatti_block_box_contacts }}
        </div>
    </div>
</div>
