<div class="site-slider-video swiper">
    <div class="swiper-wrapper">
        {% for slide in fields.slider_video %}
            <div class="swiper-slide text-center">
                <div class="container">
                    <div class="section-title text-white">
                        {{ slide.testo }}
                    </div>
                    
                    {% if slide.link_cta %}
                        <a class="button big" href="{{ slide.link_cta }}">{{ slide.testo_cta }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="swiper-pagination"></div>
    </div>
</div>
